*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #DDD;
    font-size: 18px;
}

.login-title{
    margin-top: 180px;
    color: #222;
}
 
.login-container{
    width: 90%;
    max-width: 700px;
    margin: auto;
    background: #FFF; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    padding: 20px;
    
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.login-container:hover{
    box-shadow: 1px 1px 10px  #222;
    transform: scale(1.02);
}

.btn-login{
    background: #019CDE;
    color: #FFF;
}

.input-container .input-login{
    border: none;
    border-bottom: 2px solid #DDD;
    
    outline: none;
    opacity: .5;
    transition: all .25s ease;
}

.input-container .input-login:hover, .input-login:focus{
    opacity: 1;
    border-bottom: 2px solid #222;
}

.btn:hover{
    color: #FFF;
}

.login-img-container img{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}














